.col-md-6.ta{text-align:center;}
.bgcol{background-color:#518fce;}
.bgw{background-color:white; 
     border-radius:5px;
     padding:10px 20px;
}
.tb{font-weight:bold;}
.mt{margin-top:10px;
    margin-bottom:10px;
}
.fb{
    text-align:center;
    padding:10px 30px;
}